*{
    padding: 1%;
    background-color: darkslateblue;
    color: rgb(255, 255, 255);
    font-weight: bolder;

}

.center{

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.center1{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.formdsn{

    text-align: center;
   height: 350px;
    background-color: rgb(142, 128, 237);
    border-radius: 20px;

}

.inputtxt
{
    border-radius: 10px;
    border: 0.5px;
}

.age
{
    border-radius: 10px;
    border: 0.5px;
}

.btn
{
    border: 0;
    border-radius: 10px;

}

.subject
{
    border-radius: 10px;
    border: 0.5px;
}